<!DOCTYPE html>
<html lang="pt-br">
<%-include('partials/head.ejs')  %>
<body>
  
  <%-include ('partials/nav.ejs')  %>
  
<div id="wrapper-all">
  
    <h2><%= title %></h2>
  
    <section id="section-home">
      <p>Mussum Ipsum, cacilds vidis litro abertis. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!Delegadis gente finis, bibendum egestas augue arcu ut est.Detraxit consequat et quo num tendi nada.Quem manda na minha terra sou euzis!</p>
  
      <p>Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam euismod magna.Quem num gosta di mim que vai caçá sua turmis!Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.Delegadis gente finis, bibendum egestas augue arcu ut est.
  
        Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.Copo furadis é disculpa de bebadis, arcu quam euismod magna.In elementis mé pra quem é amistosis quis leo.Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!</p>
    </section>
</div>

<%-include ('partials/footer.ejs')  %>
</body>
</html>