
  <section id="nav">
    <h1>Adote seu Pet!</h1>
    <div>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
  
        <li>
          <a href="/register">Cadastro Pet</a>
        </li>
  
        <li>
          <a href="/list">Lista de Pet</a>
        </li>

        <li>
          <a href="#">Denuncie Maus Tratos</a>
        </li>
  
        <img src="/images/gatocao.png" alt="">
      </ul>
      <hr>
    </div>
  </section>

